<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://xmlns.jcp.org/xml/ns/javaee"
	xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd"
	id="WebApp_ID" version="4.0">
	<display-name>MVC</display-name>
	<welcome-file-list>
		<welcome-file>index.html</welcome-file>
		<welcome-file>index.htm</welcome-file>
		<welcome-file>index.jsp</welcome-file>
		<welcome-file>default.html</welcome-file>
		<welcome-file>default.htm</welcome-file>
		<welcome-file>default.jsp</welcome-file>
	</welcome-file-list>


	<!-- tld 파일 등록 -->
	<jsp-config>

		<taglib>
			<taglib-uri>/WEB_INF/tlds/welcomeTag.tld</taglib-uri> <!-- jsp페이지에서 사용할 태그 라이브러리 식별자 -->
			<taglib-location>/WEB_INF/tlds/welcomeTag.tld</taglib-location>
		</taglib>
		
		<taglib>
		
     		<taglib-uri>/WEB-INF/tlds/simpleTag.tld</taglib-uri>
			<taglib-location>/WEB_INF/tlds/simpleTag.tld</taglib-location>
		</taglib>
		
	</jsp-config>
<!-- get or post 양쪽 방식 모두다 접근 가능한 service()메서드를 호출하는 서블릿 매핑 작업 -->
	
	<servlet>
		<servlet-name>ServiceTest</servlet-name>
		<servlet-class>net.daum.controller.ServiceTest</servlet-class>
		<!-- 서블릿 풀 패키지 경로 -->
	</servlet>
	
	<servlet-mapping>
		<servlet-name>ServiceTest</servlet-name>
		<url-pattern>/good</url-pattern> <!-- 브라우저 주소창에서 실행되는 url 매핑 주소값 등록 -->
	</servlet-mapping>
	
	
	<!-- 일대 다 매핑구조를 실행할 수 있는 서블릿 하나당 다수의 매핑주소가 실행되는 서블릿 컨트롤러 설정 -->
		<servlet>
			<servlet-name>MFrontController</servlet-name> <!-- 서블릿 클래스명 -->
			<servlet-class>net.daum.controller.MFrontController</servlet-class>
			<!-- 풀패키지 경로 -->
		</servlet>
		<servlet-mapping>
			<servlet-name>MFrontController</servlet-name>
			<url-pattern>*.do</url-pattern> <!-- 브라우저 주소창에 *.do가 실행되면 MFrontController 서블릿 컨트롤러가 실행됨. -->
		</servlet-mapping>
	


</web-app>
